h1
{font-family: 'Nerko One', cursive;
color:990099;
font-size:45px}

h3
{font-family: 'Coming Soon', cursive;
font-size: 24px;
}

body
{background-color:99cc99;
}

p
{font-family: 'Coming Soon', cursive;
font-size: 20px;
color: honeydew;}
